-i https://pypi.org/simple
astroid==2.1.0
bleach==3.1.0
certifi==2018.11.29
chardet==3.0.4
docutils==0.14
idna==2.8
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
pkginfo==1.5.0.1
pygments==2.3.1
pylint==2.2.2
readme-renderer==24.0
requests-toolbelt==0.8.0
requests==2.21.0
six==1.12.0
tqdm==4.29.1
twine==1.12.1
urllib3==1.24.1
webencodings==0.5.1
wheel==0.32.3
wrapt==1.11.1
